<p style="font-size: 2em; padding: 0em 0em 0em 1em;">The Android app that creates OpenPGP encrypted images</p>

<ul>
  <li>
    The camera app that comes standard on your phone creates image files in a shared public storage location.
  </li>
  <li>
    As soon as you take a picture, it can be accessed, analyzed and shared by other apps on your phone.
  </li>
  <li>
    But here's the problem, how can you control access to your photos - by creating encrypted images.
  </li>
  <li>
    With PhotoPGP you can keep your private data private, and share only what you want - in confidence.
  </li>
</ul>
<hr/>

<p class="title">Choose the PhotoPGP edition that's right for you:</p>

<div style="text-align: center;">

  <app-image-caption imgSrc='assets/img/icon/group.png' title='Full Edition'
  caption='Choose this to allow other people access to your encrypted images using their PGP public keys.'
  format='width100'></app-image-caption>

<app-image-caption imgSrc='assets/img/icon/personal.png' title='Personal Edition'
  caption='Choose this to secure your personal and confidential data using your own PGP key.' format='width100'>
</app-image-caption>

<app-image-caption imgSrc='assets/img/icon/ic_verified_user_black_24dp.png' title='Demo Edition'
  caption='Choose this free edition to evaluate security features, includes demo private key (password: "demo")  '
  format='width100'></app-image-caption>

</div>


<div style="padding: 2em 1em;"> </div>

<app-table></app-table>

<div style="padding: 2em 1em;"> </div>

<p class="title">Why do you need PhotoPGP? -- Use Cases:</p>

<div style="text-align: center;">

  <app-image-caption imgSrc='assets/img/generic/notes.jpg' title='Store Your Passwords'
    caption='With PhotoPGP you can safely record passwords and important account information.' format='width300'>
  </app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/ss-card.png' title='Personal Identity Info'
    caption='Backup those cards in your wallet, and documents in your fire safe, with a secure digital copy.'
    format='width300'></app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/passport.png' title='Personal Documents'
    caption='Get a secure photo of your birth certificate, passport, and any other private sensitive information.'
    format='width300'></app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/living-will.png' title='Legal Documents'
    caption='Backup your contracts, wills, and policies with a secure digital copy.' format='width300'>
  </app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/collection.jpg' title='Inventory Collection'
    caption='Photograph all your valuables for insurance purposes.' format='width300'></app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/taxes.png' title='Financial Records'
    caption='Save a secure digital copy of your tax documents, receipts, income statements, and other financials.'
    format='width300'></app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/health_records.png' title='Health Records'
    caption='Keep secure copies of your medical bills, physicians notes, medical documents and forms.'
    format='width300'></app-image-caption>

  <app-image-caption imgSrc='assets/img/generic/proprietary.png' title='Proprietary Information'
    caption='Protect your intellectual property and keep it confidential.' format='width300'></app-image-caption>

    <app-image-caption imgSrc='assets/img/generic/capture_ideas.png' title='Capture Your Ideas'
    caption=' Keep your essential notes readily available with PhotoPGP.' format='width300'></app-image-caption>

</div>

<div style="padding: 2em 1em;"> </div>
<hr/>

<p style="font-size: 2.5em; text-align: center; padding: 0em;">Keep Your Private Data Private</p>
<p class="title">and share only what you want - in confidence.</p>
