<p style="font-size: 2em; padding: 0em 0em 0em 1em;">External Links</p>

<hr />
<app-image-caption imgSrc='assets/img/generic/data_privacy.png' title='' caption='' format='width300'
  style="float:left"></app-image-caption>

<div style="display: inline-block; max-width: 400px">

  <p class="title">Cryptography Framework</p>

  <ul style="text-align: left;">
    <li>
      <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy#OpenPGP" target="_self">OpenPGP</a> is the standard
      for cryptography.
      </li>
    <li>
      wikipedia: "The Free Software Foundation has developed its own OpenPGP-compliant program called GNU Privacy Guard
      (abbreviated GnuPG or GPG). GnuPG is freely available together with all source code under the GNU General Public
      License (GPL) and is maintained separately from several Graphical User Interfaces (GUIs) that interact with the
      GnuPG library for encryption, decryption and signing functions (see KGPG, Seahorse, MacGPG). Several other vendors
      have also developed OpenPGP-compliant software."
    </li>
    <li>
      wikipedia: "There are several iOS and Android OpenPGP-compliant applications such as iPGMail for iOS and
      OpenKeychain for Android, which enable key generation and encryption/decryption of email and files on Apple's iOS
      and Google's Android."
    </li>
  </ul>
</div>

<hr />

<app-image-caption imgSrc='assets/img/logo/gnupg.jpg' title='' caption='' format='width200'>
</app-image-caption>

<div style="display: inline-block; max-width: 400px">

  <p class="title">GNU Privacy Guard</p>

  <ul style="text-align: left;">
    <li>
      <a href="https://en.wikipedia.org/wiki/GNU_Privacy_Guard" target="_self">GNU Privacy Guard</a> (GnuPG or GPG) is
      "free software, compliant with RFC 4880, which is the IETF standards track specification of OpenPGP. Modern
      versions of PGP are interoperable with GnuPG and other OpenPGP-compliant systems."
    </li>
    <li>
      GnuPG (<a href="https://www.gnupg.org/gph/en/manual.html"
        target="_self">https://www.gnupg.org/gph/en/manual.html</a>) provides OpenPGP support for Unix/Linux platform.
      <a href="https://en.wikipedia.org/wiki/Gpg4win" target="_self">Gpg4win</a> provides OpenPGP support for Microsoft
      Windows platform.
    </li>
  </ul>
</div>

<hr />

<app-image-caption imgSrc='assets/img/logo/openkeychain.png' title=''
caption='OpenPGP support for Android'
format='width100'></app-image-caption>

<div style="display: inline-block; max-width: 400px">

  <p class="title">OpenKeychain</p>

  <ul style="text-align: left;">
    <li>
      <a href="https://www.openkeychain.org" target="_self">OpenKeychain </a> provides OpenPGP support for the Android
      platform.
    </li>
    <li>
Available from <a
        href="https://play.google.com/store/apps/details?id=org.sufficientlysecure.keychain&amp;hl=en"
        target="_self">Google Play Store.</a>
    </li>
    <li>
      OpenKeychain allows third-party commercial use of the openpgp-api library - <a
        href="https://github.com/open-keychain/openpgp-api/blob/master/LICENSE" target="_self">Apache License 2.0.</a>
    </li>
    <li>
      This is how PhotoPGP enables cryptography.
    </li>
  </ul>
</div>

<hr />

<app-image-caption imgSrc='assets/img/photopgp/screenshots/viewer_tab.png' title=''
caption='Double-click, pinch and drag gestures to zoom/pan image.'
format='width100'></app-image-caption>

<div style="display: inline-block; max-width: 400px">

  <p class="title">Image Viewer Support Library</p>

  <ul style="text-align: left;">
    <li>
      GitHub library <a
      href="https://github.com/davemorrissey/subsampling-scale-image-view" target="_self">Dave Morrissey:
      subsampling-scale-image-view</a>
    </li>
    <li>
      Used to implement the PhotoPGP VIEWER tab
    </li>
    <li>
      Provides an efficient image display engine, and user interface to enable pan/zoom functions.
    </li>
    <li>
      This library allows third-party commercial use -
      <a href="https://github.com/davemorrissey/subsampling-scale-image-view/blob/master/LICENSE" target="_self">
        Apache
        License 2.0.</a>
    </li>
  </ul>
</div>

<hr />

<div>
  <app-image-caption imgSrc='assets/img/generic/photographer.png' title='' caption=''
    style="padding: 1em 2em; float:left"></app-image-caption>

  <div style="display: inline-block; max-width: 400px">
    <p class="title">Photography</p>

    <a href="https://photographertouch.com/" target="_blank">Photographer Touch</a> helps you to become a better
    photographer by publishing super actionable content and guides, designed to help you take your photography skills
    to the next level!
  </div>

</div>

<div style="padding: 3em 0em;"></div>

<hr />
<p style="font-size: 2.5em; text-align: center; padding: 0em;">Keep Your Private Data Private</p>
<p class="title">and share only what you want - in confidence.</p>
