
p.title {
  font-size: 1.5em;
  text-align: center;
  padding: 0em;
  text-decoration: green underline;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
